.paragraphs{
    width: 580px;
    height: 800px;
    height: 750px;
	float: right;
}

.information{
	float: left;
	width: 600px;
}

.title{
    border: solid 5px;
    width: fit-content;
    padding: 5px;
    border-color: aquamarine;
    padding-right: 7px;
    padding-left: 7px;
}
@media only screen and (max-width: 720px) {
	.container{
		min-width: unset;
	}
	.paragraphs{ width: auto; }

}

* {
	padding: 0px;
	box-sizing: border-box;
}


.Speech {
	width: 50px;
	
}

.group {
	margin: 7px 0;
}

textarea {
	width: 100%;
	padding: 5px 10px;
	border: 1px solid rgb(228, 20, 20);
	outline: none;
	border-radius: 3px;
}

button {
	width: 100%;
	display: block;
	padding: 10px 22px;
	color: rgb(10, 10, 10);
	font-weight: bold;
	cursor: pointer;
	outline: none;
	background: rgb(227, 240, 219);
	;
}

h2 {
	margin-bottom: 10px;
	text-align: center;
}
